a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #ececec;
}

.fe {
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  box-shadow: 0 0 10px 1px rgb(223, 223, 223);
  margin-bottom: 20px;
}

img {
  border-radius: 4px;
}
