.cc {
  height: 200px !important;
}

#bg {
  position: absolute;
  height: 100vh;

  width: 100%;
  object-fit: cover;
  filter: blur(0px) grayscale(30%);
  z-index: -999;
}

.navbarx {
  background-color: rgba(15, 17, 17, 0.6);
  height: 75px;
}

.navbarx h2 {
  font-size: 44px;
  color: #58cad0;
  font-family: "Pacifico", cursive;
  align-items: center;
  padding-top: 5px;
}
.ww {
  max-width: 540px !important;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  box-shadow: 0 0 10px 1px rgb(98, 100, 97);
}

#ikon {
  height: 45px;
}

.dd {
  height: calc(100vh - 416px);
  align-items: center;
}

.donut-container {
  margin-top: 1rem;
}

#donut-img {
  width: 345px;
  height: 345px;
}

.styles-module_item-container__a8zaY {
  width: 345px !important;
}

.tp {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.article-wrap {
  float: none;
  max-width: 100%;
  min-width: 100px;
  text-align: center;
  margin-top: -13px;
  margin-bottom: -13px;
}

.article-category {
  float: none;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  font-size: 11px;
  color: #fff;
  background-color: $primary;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-left: 2px;
}

.hot {
  padding: 10px 0;
  margin: 0 0 25px;
  font-size: 45px;
  line-height: 30px;
  background: url("../img/donut-border.png") bottom repeat-x;
  font-family: $Font-Main;
}

#donut-img-3 {
  width: 100%;
  height: 100%;
}
.image-box {
  width: 340px;
  height: 210px;
  background-color: red;
}

.xd {
  background-color: #fff;
  border-top: 3px solid $primary;
}

.bordero {
  border: 1px solid #dadada;
  margin: 10px 0px;
}

.dwe {
  background-color: red;
}

.more {
  background-color: $primary;
  border-radius: 4px;
  align-items: left;
  float: left;
  margin: 10px;
  padding: 10px 35px;
}

.qw {
  background-color: #fff;
  cursor: pointer;
}

#donut-img-2 {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#donut-img-2:hover {
  transform: scale3d(1.3, 1.3, 1.3);
  transition: 0.5s all;
  box-shadow: 0 0 10px 1px rgb(49, 169, 173);
  border-radius: 14px;
}

.bgx {
  background: linear-gradient(
    135deg,
    rgb(49, 169, 173) 0%,
    rgb(82, 204, 209) 100%
  );
}
