.single-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.oop {
  background-color: #fff;
}

.img-card {
  width: 100%;
  max-height: 400px;
}

.single-post {
  white-space: pre-line;
}
